
assets/Mixamo_Michelle/Walking.tscn
assets/Mixamo_Michelle/Walking.fbx.import
assets/Mixamo_Michelle/Walking.fbx
assets/Mixamo_Michelle/T-Pose.tscn
assets/Mixamo_Michelle/T-Pose.fbx.import
assets/Mixamo_Michelle/T-Pose.fbx
assets/Mixamo_Michelle/Running Slide.tscn
assets/Mixamo_Michelle/Running Slide.fbx.import
assets/Mixamo_Michelle/Running Slide.fbx
assets/Mixamo_Michelle/Run Jump.tscn
assets/Mixamo_Michelle/Run Jump.fbx.import
assets/Mixamo_Michelle/Run Jump.fbx
assets/Mixamo_Michelle/Jump.tscn
assets/Mixamo_Michelle/Jump.fbx.import
assets/Mixamo_Michelle/Jump.fbx
assets/Mixamo_Michelle/Idle.tscn
assets/Mixamo_Michelle/Idle.fbx.import
assets/Mixamo_Michelle/Idle.fbx
assets/Mixamo_Michelle/Fast Run.tscn
assets/Mixamo_Michelle/Fast Run.fbx.import
assets/Mixamo_Michelle/Fast Run.fbx
assets/Mixamo_Michelle/Crouching Idle.tscn
assets/Mixamo_Michelle/Crouching Idle.fbx.import
assets/Mixamo_Michelle/Crouching Idle.fbx
assets/Mixamo_Michelle/Crouched Walking.tscn
assets/Mixamo_Michelle/Crouched Walking.fbx.import
assets/Mixamo_Michelle/Crouched Walking.fbx
assets/Mixamo_Michelle/Ch03_Body.material
assets/Mixamo_Michelle/Braced Hang To Crouch.tscn
assets/Mixamo_Michelle/Braced Hang To Crouch.fbx.import
assets/Mixamo_Michelle/Braced Hang To Crouch.fbx
